
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
week-2-html-website/
week-3-js-algorithms/
week-4/
week-5-JS-challanges/
week-6-playwright-automation/
week-7-playwright-automation/
week-8-pw-automation/
week-9-pw-automation/
week-10-pw-automation/
.env/
week 11/
node_modules/